@media only screen and (max-width: 1420px){
    .inline{
        margin: 5px;
    }
    .add_hours{
        width: 43%;
    }
    .add_day{
        margin-left: 250px;
    }
    .date__logo{
        margin-left: 50px;
    }
    .daysandhoursform-submit{
        width: 20%; 
        margin-left: 40%;
    }
}
@media only screen and (max-width: 1200px){
    .header__logo{
        font-size: 280%;
    }
    .header__text--box{
        top:22%;
    }
    .header__text--main{
        font-size: 2.8rem;
        margin-bottom: 8px;
    }
    .header__text--sub{
        font-size: 1.2rem;
    }
    .header__user--text{
        font-size: 1rem;
    }
    .btn__big,
    .btn__big:link,
    .btn__big:visited{
        padding: 12px 34px;
        font-size: 0.8rem;
    }    
    .auth-form__logo{
        left: 35%;
        font-size: 220%;
    }
    .logo{
        left: 33%;
    }
    .meetingform-submit{
        width: 50%;
    }
    .add_day{
        margin-left: 170px;
    }
    .date__logo{
        margin-left: 10px;
    }
    .delete_day{
        font-size: 0.6rem;
    }
    .clone_day{
        font-size: 0.6rem;
    }
    .add_hours{
        font-size: 0.6rem;
        width: 40%;
        margin-left: 120px;
        margin-top: 20px;
    }
    .delete_hours{
        font-size: 0.6rem;
    }
}

/* small tablet to big tablet from 816px to 1023px */
@media only screen and (max-width: 1023px){
    /* html{
        font-size: 14px;
    } */
    h2, h3{
        line-height: 120%;
    }    
    .header__text--box{
        top:28%;
    }

    .header__logo--box{
        top: 26%;
    }
    .header__logo{
        font-size: 220%;
    }
    .header__text--main{
        font-size: 2.2rem;
        margin-bottom:0px;
        letter-spacing: 3px;
    }
    .header__text--sub{
        font-size: 1.2rem;
        letter-spacing: 4px;
    }
    .header__user{
        margin-top: 1%;
        left: 73%;
        top: 20%;
    }
    .btn__big,
    .btn__big:link,
    .btn__big:visited{
        padding: 10px 30px;
    }
    .header__notifications{
        left:71%;
    }       
    .auth-form__logo{
        left: 33%;
        font-size: 220%;
    }
    .logo{
        left: 25%;
    }
    .meetingform-meetingname{
        width: 90%;
    }
    .meetingform-info{
        width: 100%;
    }
    #duration{
        width: 60%;
    }
    .meetingform-submit{        
        font-size: 0.7rem;
        width: 70%;
    }
    .add_day{
        width: 25%;
        margin-left: 100px;
    }
    .date__logo{
        margin-left: 70px;
    }
    .date__td{
        width: 55%;
    }
    .hour__td{
        width: 45%;
    }
    .delete_day{
        font-size: 0.6rem;
        margin-left: 65px;
    }
    .clone_day{
        font-size: 0.6rem;
    }    
    .add_hours{
        width: 45%;
        font-size: 0.6rem;
        margin-left: 60px;
    }
    .delete_hours{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 815px){
    html{
        font-size: 12px;
    }
    .header__user{
        top: 65%;
        left: 10%;
        width: 80%;
        text-align: none;
        margin: 0px;
    }
    .header__user--text{
        display: block;
        margin: 0px;
        /* margin-left: 25%; */
    }
    .header__user--logout{
        right: 1%;
    }
    .btn__big,
    .btn__big:link,
    .btn__big:visited{
        /* margin-left: 20%; */
        padding: 8px 16px;
        font-size: 1rem;
    }               
    .header__notifications{
        top: 30%;
    }
    .header__notifications--logo{  
        font-size: 300%;
    }    
    .header__notifications--text{
        font-size: 110%;
    }
    .auth-form__logo{
        left: 28%;
        font-size: 200%;
    }
    .row{
        height: 300px;
    }
    .col{
        width: 100%;
        margin: 0;
        height: 75px;
    }
    .meetingname,.info,.meeting_duration, .available_dates,.submit{
        display: block;
    }
    .meetingform-meetingname{
        width: 50%;
        margin-bottom: 10px;
    }
    .meetingform-info{
        width: 50%;
    }
    .meeting_duration{
        width: 50%;
        margin-left: 25%;
    }
    #duration{
        width: 100%;
    }
    .meetingform-submit{
        font-size: 1rem;
        width: 45%;
    }
    .date__td{
        width: 50%;
    }
    .hour__td{
        width: 50%;
    }
    .date__logo{
        margin-left: 10px;
    }
    .delete_day{
        margin-left: 10px
    }
}

@media only screen and (max-width: 615px){
    html{
        font-size: 11px;
    }
    .header__text--main{
        font-size: 1.1rem;
    }
    .header__text--sub{
        font-size: 0.9rem;
    }
    .header__user{
        top: 72%;
    }
    .header__user--text{
        display:inline-block;
        margin-left: 0;
    }
    .header__user--logout{
        margin-left: 30%;
    }
    .date__logo{
        margin-left: 40px;
    }
    .delete_hours{
        width: 30%;
        margin-left: 60px;
    }
    .logo{
        left: 15%;
        font-size: 160%;
    }
    .date__table, .meetingForm__table{
        width:100%;
    }
    .date__td, .hour__td{
        display:block;
    }
    .date{
        display:block;
        margin-bottom:30px;
    }
    .form-MeetingForm{
        text-align: center;
    }
    .add_day{
        width: 40%;
        margin-left: 30%;
    }
    .date__td{
        width: 100%;
    }
    .hour__td{
        width: 100%;
    }
    .date__logo{
        margin-left: 0px;
    }
    .date__td .datepicker, .hour__td .hour .timepicker{
        display: block;
        width: 50%;
        margin-left: 25%;
    }
    .clone_day,.delete_day ,.add_hours,.delete_hours{
        display: block;
        width: 30%;
        margin-left: 35%;
    }
    .result__table{
        width: 100%;
        margin-left: 0;
    }
    .daysandhoursform-submit{
        width: 40%;
        margin-left: 30%;
    }
    #meeting_link{
        margin-left: 0;
        width: 100%;
    }
}