<div class="auth-form">    
    <form class="form-AuthForm" method="POST">
        <div class="row">
         
            <div class="col_signin .span_1_of_4_signin username">
                <h4>Enter your username (for internal usage)</h4>
                {{ authform.username(class_="authform-username") }}
            </div>
            <div class="col_signin .span_1_of_4_signin password">
                <h4>Enter your password</h4>
                {{ authform.password(class_="authform-password") }}
            </div>
            <div class="col_signin .span_1_of_4_signin submit">
                <h4><br></h4>
                {{ authform.csrf_token }}
                {{ authform.submit(class_="authform-submit") }}
            </div>
        </div>
        
    </form>
</div>
