<!DOCTYPE html>
<html>
  <head>
	{% include 'head.html' %}
    <title>Create step 2</title>
    </head>
<body>
	{% include 'header.html' %}

	<i class="far fa-plus-square logo"></i>
    <h2>
        Create new meeting
	</h2>
	
	<div class='description'>
		<p>In the firts form, you should write the meeting name, some info about your meeting and its duration.</p>
		<p>In the second form, you should choose available dates for your meeting and timeslots (choose meeting start and duration will be automatically aplied)! </p>
		<p>When you are done with both forms, press submit button</p>
	</div>

	{% include 'meetingForm_template.html' %}
<p>"ADD MORE DAYS" button will add empty day to the end of the form.</p>
<p>"ADD TIMESLOT" button will add empty timeslot to the end of this day.</p>
<p>"CLONE THIS DAY" button will add tse same day with the same date and filled timeslots to the end of the form.</p>
	{% include 'footer.html' %}
</body>
</html>