<!DOCTYPE html>
<html>
  <head>
	{% include 'head.html' %}
	<title>Create step 3</title>
</head>
	<body>
	{% include 'header.html' %}

  <div class="container">
	<div class="notifications">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<p>Error: {{ message }}</p>
		{% endfor %}
	{% endif %}
	{% endwith %}
	</div></div>
	{{table|safe}}
	<form class="form-DaysAndHoursForm" method="POST" onsubmit="submit_selected_dates()">
        {% for field in daysandhoursform %}
            {{field}}
        {% endfor %}
	</form>
	{% include 'footer.html' %}
</body>
</html>


