<!DOCTYPE html>
<html>
  <head>
	{% include 'head.html' %}
    <title>Create step 2</title>
    </head>
<body>
	{% include 'header.html' %}
	<form class="form-MeetingForm" method="POST" onsubmit="submit_first_dates()">
        {% for field in meetingform %}
            {{field}}
        {% endfor %}
	<div class="add_day">
		Click to add day
	</div>
	<div class="date">
		date
		<div class="day">
			<input type="date">
			<div class="hour">
				<input type="time">
			</div>
			<div class="add_hours">
				Click to add hours
			</div>
		</div>
	</div>
	</form>
	{% include 'footer.html' %}
</body>
</html>