<div class="header">
    <div class="header__logo--box">
        <a href="/"><i class="far fa-calendar-check header__logo"></i></a>
    </div>	
    <div class="header__text--box">
        <h3 class="header__text--primary">
            <span class="header__text--main">
                Who-When-Can
            </span>
            <br> 
            <span class="header__text--sub">
                Online Event scheduler<br>
            </span>
        </h3>
    </div>
    <div class="header__user">
        <h3 class="header__user--text">		
            {% if session['current_user'] is defined %}
            Hello:<br> {{session['current_user']}}<br>
            {% endif %}	
            
        </h3>
        <a href="/logout" class="header__user--logout btn__big btn__white">Log out</a>
    </div>
    <div class="header__notifications">
        {% with messages = get_flashed_messages() %}
        <i class="fas fa-bell header__notifications--logo"
        {% if messages %}
        style="animation: notif 1s infinite;"
        {% endif %}
        ></i>
        <div class="header__notifications--text hide">
                {% if messages %}
                    {% for message in messages %}
                        <p>Error: {{ message }}</p>
                    {% endfor %}
                {% endif %}
        </div>
        {% endwith %}
    </div>
    
</div>