<!DOCTYPE html>
<html>
  <head>
	{% include 'head.html' %}
	<title>Meeting authentication</title>
	<body>
	{% include 'header.html' %}
	<i class="fas fa-sign-in-alt logo"></i>
    <h2>
        Sign in
	</h2>
	<div class='description'>
		<p>To choose apropriate days and timeslots for this meeting you should log in!</p>
		<p>If you want to see who pick what or change your answers, please, enter your credentials and you will be redirected to "results and edit" page!</p>
	</div>
	{% include 'auth_template.html' %}
	{% include 'footer.html' %}
	</body>
</html>