<div class="Meetingform"> 
    <form class="form-MeetingForm" method="POST" onsubmit="submit_first_dates()">
        <table class="meetingForm__table">
            <tr class="meetingForm__row">
                <td class="meetingname">
                    <h4>Meeting's name</h4>
                    {{ meetingform.meetingname(class_="meetingform-meetingname") }}
                </td>
                <td class="info">
                    <h4>Additional information</h4>
                    {{ meetingform.info(class_="meetingform-info") }}
                </td>
                <td class="meeting_duration">
                    <h4>Meeting duration</h4>
                    {{ meetingform.duration(class_="datepicker") }}
                </td>
                <td class="submit">
                    {{ meetingform.csrf_token }}
                    {{ meetingform.available_dates}}
                    {{ meetingform.submit(class_="meetingform-submit") }}
                </td>
            </tr>
        </table>

        <div class="date__container">
            <div class="add_day btn__small btn__blue">
                Click to add more days
            </div>
            <table class="date__table">
                <tr class="date">
                    <td class="date__td">
                        <i class="fas fa-calendar-day date__logo"></i>
                        Choose your date
                        <input type="date" class="datepicker inline" required>
                        <div class="delete_day btn__small btn__blue inline">
                        Click to remove this day
                        </div>
                        <div class="clone_day btn__small btn__blue inline">
                        Click to clone this day
                        </div>	
                    </td>
                    <td class="hour__td">
                        <div class="add_hours btn__small btn__blue">
                            Click to add timeslot
                        </div>
                        <div class="hour">
                            Choose your time    
                            <input type="time" class="timepicker inline" required>
                            <div class="delete_hours btn__small btn__blue inline">
                            Remove
                            </div>	
                        </div>	
                        
                    </td>
                </tr>
            </table>    
        </div>        
    </form>
</div>	