<!DOCTYPE html>
<html>
  <head>
	{% include 'head.html' %}
	<title>Meeting created</title>
	<body>
	{% include 'header.html' %}
	<div class="meetingcreated__text">		
		<h3><i class="far fa-check-square created__logo"></i>All done</h3>
		<br><br>
		<h4>Send this link to all your meeting's participants:</h4>
		<div>
		<textarea id="meeting_link" cols="70" rows="2" wrap="hard" >https://meetingtime.best/meetings/{{id}}</textarea>
		</div>
		<div>
		<button class="btn__small btn__blue inline" onclick="copy_text()">Copy text</button>
		<span id="copied_text" class="hidden" style="background-color:lightgray;font-size:1rem;">Copied</span>
		</div>
	</div>
	

	
	{% include 'footer.html' %}
	</body>
</html>