<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    </head>
<body>
	<div class="header">
			<h3>Hello: {{session['current_user']}}<br> <a href="/logout">Log out</a></h3>
	</div>

  <div class="container">
	<div class="notifications">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<p>Error: {{ message }}</p>
		{% endfor %}
	{% endif %}
	{% endwith %}
	</div>
	<p>Flag is QwertyAsdfghZxcvb123</p>
	<p>Image</p>
	{% if avatar %}
	<p><img src="data:image/png;base64, {{avatar}}" style="width: 400px;"/></p>
	{% else %}
	<p>no image :(((</p>
	{% endif %}
  
	<form class="form-change" method="POST" action="/change_pass">
	<p>Change pass:</p>
        <p>Password:
        {{ changeform.password(placeholder="Password",id="inputPassword", class="form-control", required="") }}</p>
        <p>
        {{ changeform.csrf_token }}
        {{ changeform.submit(class="btn btn-lg btn-primary btn-block")}}</p>
        <p>   
		</form> 
	<p>Upload photo:</p>
	<form action = "/upload" method = "POST" 
		enctype = "multipart/form-data">
		<input type = "file" name = "file" />
		<input type = "submit"/>
    </form>   
    </div>
</body>
</html>