<!DOCTYPE html>
<html>
  <head>
	{% include 'head.html' %}
	<title>Time picking</title>
</head>
	<body>
	{% include 'header.html' %}
	<h2>Choose your comfortable time</h2>
	<div class='description'>
		<p>Select timeslots which is more comfortable for YOU.</p>
		<p>Selected timeslots will be highlighted in orange.</p>
	</div>
	<div class='description'>
		<p>Meting name: {{meeting_name}}</p>
		<p>Info about this meting: {{meeting_info}}</p>
	</div>
	{% include 'time_picking-template.html' %}
	{% include 'footer.html' %}
</body>
</html>


